::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #818181;
}

/*--GENERALES--*/

body {
    padding-right: 0;
    padding-left: 0;
    transition: all 0.25s ease-in-out;
    padding-top: 119px;
}
.btn, .btn:visited{
	display: inline-block;
	font-size: 16px;	
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	border: none;
	padding: 8px 18px;    
    
}
body.block-scroll {
    overflow: hidden;
}
ul li {
  list-style: none;
}

a,
a:hover,
.btn:focus,
.owl-theme .owl-dot:focus,
input:focus {
  outline: none !important;
    text-decoration: none;
  box-shadow: none !important;
}
.owl-theme .owl-dot {
  background: transparent !important;
  border: 0 !important;
}
.owl-theme .owl-dots .owl-dot {
  padding: 0;
}
.tab-content,
.tab-panel{
    display: none;
}
.section{
    padding: 50px 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
  max-width: 1200px;
  margin: auto ;
  width: 100% ;
    position: relative;
}
.tab-panel-cc,
.tab-panel,
.item_collapse .c-collapse {
  display: none;
}
button{
    background-color: transparent;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: transparent !important;
}
/*GENERALES*/

.nav-primary__icon{
    opacity: 0;
    position: absolute;
    top: 65px;
    right: 40px;
    height: 28px;
    width: 39px;
    cursor: pointer;    
    transition: all 0.50s ease-in-out;
    z-index: 999;
    animation-duration: 1.8s;
    animation-delay: 1s;
    animation-name: fadeInUp;
    animation-fill-mode: both;
}
.nav-primary__icon:hover{
    height: 31px;
    top: 63px;
}
.nav-primary__icon .i_large{
    position: absolute;
    content: '';
    transform: translateY(-50%);
    background-color:rgba(255,255,255,.7);
    width: 39px;
    height: 5px;
    border-radius: 50px;
    transition: all 0.50s ease-in-out;
}
.nav-primary__icon:hover .i_large{
    background-color:rgba(255,255,255,1);
}
.nav-primary__icon .large_firts{
    top:0
}
.nav-primary__icon .large_middle{
    top:50%
}
.nav-primary__icon .large_last{
    top:100%;
}
.nav-primary__icon.active:hover{
    top: 65px;
    height: 28px !important;
}
.nav-primary__icon.active .large_firts{
    transform: rotate(45deg);
    top: 2px;
    left: 2px;
    width: 18px;
}
.nav-primary__icon.active .large_middle{
    top: 23px;
    left: 23px;
    width: 18px;
    transform: rotate(45deg);
}
.nav-primary__icon.active .large_last{
    top:12px;
    transform: rotate(135deg);
    width: 45px;
}